.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.add-product-btn {
  background: red !important; /* Force visibility */
  display: block !important;
}
.add-product-btn:hover {
  background-color: #45a049;
}
.logo {
  height: 90px;
  margin-right: 2rem;
}

.left, .right {
  display: flex;
  align-items: center;
}

.left button,
.right button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #333;
  transition: color 0.3s, border-bottom 0.3s;
}

.left button:hover,
.right button:hover {
  color: #007bff;
}

.left button.active,
.right button.active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

.right button {
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
}

.right button:hover {
  background-color: #0056b3;
}

.user-info {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin-right: 1rem;
}
